<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>{{ page.title }}</title>
        <meta name="viewport" content="width=device-width">

        <!-- syntax highlighting CSS -->
        <link rel="stylesheet" href="/css/syntax.css">

        <!-- Custom CSS -->
        <link rel="stylesheet" href="/css/main.css">

    </head>
    <body>

        <div class="site">
          <div class="header">
		  <h1 class="title"><a href="/"> { KongFan } </a></h1>
            <a class="extra" href="/list.html">Blog</a>
            <a class="extra" href="/about.html">『 About 』</a>
          </div>

          {{ content }}

          <div class="footer">
            <div class="contact">
              <p>
                Kongfan@github.com<br />
		        kongfan@outlook.com<br />
              </p>
            </div>
            <div class="contact">
              <p>
                <a href="https://github.com/kongfan">github.com/kongfan</a><br />
                <a href="mailto:kongfan@outlook.com">Contact kongfan</a><br />
              </p>
            </div>
            <div class="rss"><p><a href="/rss.xml">RSS FEED</a></p></div> 
            <div><p>{% include creative_common_lisences.html %}</p></div>
          </div>
        </div>
        {% include fork_me_github.html %}
    </body>
</html>
